html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

#Content-wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #f0f0f0;
}

#progress {
  width: 10%;
  height: 100%;
  background-color: #007bff;
  transition: width 0.2s ease-in-out;
}

#navigation-bar {
  display: flex;
  flex-direction: row;
  height: 23px;
  padding: 5px;
}

#buttons {
  display: flex;
  flex-direction: row;
}

#buttons > button {
  margin: 0 5px;
}

#website-wrapper {
  flex: 1;
  overflow: auto;
}

#website-iframe {
  width: 100%;
  height: 100%;
  border: none;
}
